<div *ngIf="!isLoading">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <h2 style="margin: 0 0 16px;">Your account details</h2>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group text-center">
              <label for="profilePhoto" class="visually-hidden">Profile photo</label>
              <div class="photo-preview">
                <a href="{{ account.photoUrl }}" target="_blank" *ngIf="!!account.photoUrl">
                  <img src="{{ account.photoUrl }}" alt="Your profile photo" />
                </a>
              </div>
              <button
                class="btn btn-primary btn-xs"
                type="button"
                (click)="onSelectPhoto()">
                {{ !!!account.photoUrl ? 'Upload photo' : 'Update photo' }}</button>
              <input
                type="file"
                id="profilePhoto"
                formControlName="profilePhoto"
                #profilePhoto
                (change)="onPhotoChanged($event)"
                accept="image/*">
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label for="firstName">First name *</label>
              <input
                type="text"
                id="firstName"
                formControlName="firstName"
                class="form-control"
                #firstName>
            </div>

            <div class="form-group">
              <label for="lastName">Last name *</label>
              <input
                type="text"
                id="lastName"
                formControlName="lastName"
                class="form-control"
                #lastName>
            </div>

            <div class="form-group">
              <label for="organisation">Organisation</label>
              <input
                type="text"
                id="organisation"
                formControlName="organisation"
                class="form-control"
                #organisation>
            </div>

            <div class="form-group">
              <label for="email">Email *</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
                #email>
            </div>
          </div>

          
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-7 text-right">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!accountForm.valid">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="isLoading">
  <div class="row">
    <div class="col-xs-12">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>
